
*{
    padding: 0;
    margin: 0;
}

html{
	font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body{
    background-color: #E8E1D0;
    font-size: 2rem;
    overflow-x: hidden;
    width: 100%;

}

ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;

}