@import "fuentes";
@import "generales";
@import "nosotrosAnidamiento";
@import "variables";

.encabezado{
    grid-area: header;
    background: rgb(42,74,143);
    background: linear-gradient(90deg, #2a4a8f 70%, rgba(30,57,116,1) 85%, rgba(19,42,93,1) 100%);
    padding: $boxdef;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.nav_logo{
    @include sizes (60px, 60px);
    
}

.nav_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.nav_encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
}


.nav_item{
    padding: 0px 10px;
    margin: 0px 5px;

}

.nav-link{
    color: $browndef;
    font-weight: 600;
    font-size: 2.4rem;
    transition: color 0.5s;
}

.nav-link:hover{ 
    @extend .hoverExtend
}


.nav-search{ 

    display: flex;

    .btn{
        background-color: $browndef;
        border-color: #755e36;
        font-size: 1.5rem;
        font-weight: 500;
    } 
    
    .form-control{
        font-size: 1.5rem;
    }
}

.navbar-brand-mobile{
    align-items: center;
    justify-content: center;
}


.link-blue{
    color: $azuldef;
}

.navbar-toggler{
    margin: $boxdef;
    align-items: center;
    border: none;
    transition: all 1s;
}

.navbar-toggler:hover{
    transform: rotate(90deg);
    display: inline-block
}


header ul a{
    color: $browndef;
    font-weight: 600;
    transition: color 0.5s;
}

header ul a:hover{ 
    @extend .hoverExtend
}

a{
    text-decoration: none;
}

.mainparallax, .parallax_tienda{
    grid-area: parallax;
    background:linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.747)), url(https://i.imgur.com/QmpmCG3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
    color: #142938;

}

.mainparallax{
    height: 500px;
}

.parallax{
    color: #E8E1D0;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;

}

.parallax_tienda_titulo{
    color: #E8E1D0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 4rem
    }
}

.parallax_titulo{
    font-size: 4rem;
    padding-top: $boxdef*4;
}

.parallax_titulo2{
    font-size: 4rem;
    padding-bottom: $boxdef*4; 
}
.parallax_subtitulo{
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: $boxdef;
    font-style: italic;
}

.parallax_frase{
    font-size: 1.8rem;
    text-align: right; 
    padding: 30px 20px 20px;
}

.parallax_frase_autor{
    font-size: 1.8rem;
    font-style: italic;
    text-align: right;
 }

.titulo_index{
    grid-area: titulo;
    padding: $boxdef;
    margin-top: $boxdef*2;
    text-align: center;
    color: #3a2d11;

    h2{
        font-size: 3rem;
        font-weight: 600;
    }
} 

.grids_producto{
    grid-area: catalogo;
    display: grid;
    grid-template-columns: 350px;
    justify-content: center;
    justify-items: center;
    padding: 5px;

}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin: $boxdef;
}

.producto_img img{
    max-width: 300px;
    padding: $boxdef;
}

.producto_desc{
    padding: 10px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card{
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin: $boxdef;
    padding: $boxdef;

    img{
        max-width: 300px;
        padding: $boxdef;
    }
}

.card-body{
    padding: 10px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.bi-cart-plus{
    color: black;
    text-decoration: none;
    margin: $boxdef;
}


.card-title{
    font-size: 2rem;
}

.card-text{
    font-size: 1.90rem;
    font-weight: bold;
}

.producto_desc p{
    font-size: 1.8rem;
}

.card_p {
    
    color: #3a2d11;
    font-weight: 600;
    font-size: 2.4rem;
    transition: color 0.5s;
    text-align: center;

    
}

.card_p:hover{ 
    color: $brownhover
    ;
}

.nosotros{
    grid-area: nosotros;
    background:linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.514)), url(https://i.imgur.com/VTTDvs1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    margin: $boxdef;
}

.nosotros_texto{
    background-color: rgba(255,255,255, 0.7);
    background-position: center;
    text-align: center;
    padding: $boxdef*2;
    margin: $boxdef;
    border-radius: $boxdef*4;
    border-top-style: outset;
    border-left-style: outset;
    border-color:   #755e36;
}

.nosotros_titulo{
    h3{   
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.nosotros_p{
    p{ 
        font-size: 2rem;
        font-weight: 500;
    }
}


footer{
    grid-area: footer;
    background: rgb(42,74,143);
    background: linear-gradient(90deg, rgba(42,74,143,1) 70%, rgba(30,57,116,1) 85%, rgba(19,42,93,1) 100%);
    color: #ccb690;
    font-weight: 300;
    padding: $boxdef;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: medium;
    
}

.logo_footer{
    max-height: 40px;
    position: relative;
    margin: $boxdef;
}

.footer_info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    

}

.footer_contacto, .footer_redes, .footer_newsletter{
    padding: 10px 30px;
    text-align: center;
}

.footer_contacto, .footer_newsletter{
    
    h4{
    font-size: 2rem;
    font-weight: 500;
    }
}

.footer_contacto{
    
    p{
    font-size: 1.5rem;
    font-weight: 500;
    }
}

.footer_redes{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    
    img{
        width: 40px;
        height: 40px;
        transition: all 1s;
        margin: $boxdef;
    }
}

.footer_redes:hover img{
    width: 50px;
    height: 50px;     
}

.footer_newsletter{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_email{
    text-align: center;
}

.footer_email input{
    height: 25px;
    width: 200px;
    text-align: center;
}

form{
    padding: $boxdef;
    margin: $boxdef;
    text-align: center;
}

.formulario_nombre{
    margin: $boxdef;
}

.formulario_nombre input{
    @include sizes (300px, 30px)
}

.formulario_email{
    margin: $boxdef;
}

.formulario_email input{
    @include sizes (300px, 30px)
}

.formulario_motivo{
    margin: $boxdef;
}

.formulario_motivo select{
    @include sizes (300px, 30px)
}

.formulario_consulta{
    margin: $boxdef;
}

.formulario_noticias{
    margin: $boxdef;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;

    input{
        margin-left: $boxdef*2;
    }

}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: $boxdef;
}

.boton_enviar{
    margin: 0% 15px;

    input{
        @include sizes (100px, 50px)
    }
}

.boton_reset{
    margin: 0% 15px;

    input{
        @include sizes (100px, 50px)
    }
}

.ubicacion{
    padding: 30px;
    margin: $boxdef;
    text-align: center;
    grid-area: ubic;
}

.ubicacion_titulo{
    padding: $boxdef;
    font-size: larger;
}


.formulario{
    grid-area: form;

}

.formulario_flex{
    display: flex;
    flex-direction: column;
}

.grid_consulta{
    grid-area: consulta;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "form"
    "ubic"
    ;
    grid-template-columns: 90%;
    align-items: center;
    justify-content: center;
}

.ubicacion_mapa{
    width: 100%;
}

.envoltura{
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "parallax"
    "titulo"
    "catalogo"
    "nosotros"
    "footer" ;
}

.navbar{
    grid-area: nav;
}

.envoltura_tienda{
    display: grid;
    grid-template-areas:
    "header"
    "parallaxTienda"
    "catalogoMapa"
    "footer" ;
}

.envoltura_contacto{
    display: grid;
    grid-template-areas:
    "header"
    "parallaxTienda"
    "consulta"
    "footer" ;
}

.parallax_tienda {
    grid-area: parallaxTienda;
    background:linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.747)), url(https://i.imgur.com/QmpmCG3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
    color: #142938;
    
    padding: 30px;
}

.mapa_grid{
    grid-area: catalogoMapa;
    display: grid;
    grid-template-areas:
        "map_t"
        "mapa_nav "
        "map_c";
    grid-template-columns: 100%;
    justify-items: center;
    margin-bottom: $boxdef*4;
}

.mapa_titulo{
    grid-area: map_t;
    margin: $boxdef*2 10px 0px;
    padding: $boxdef;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #3a2d11;
}

.mapa_nav{
    grid-area: mapa_nav;
    padding: 10px 20%;
    font-size: 1.7rem;
    background-color: $azuldef;
    border-radius: 25px;
    margin: 10px 10px;
}

.mapa_nav ul{
    text-align: center;
}



.map_type{
    padding: $boxdef/2;
    margin: $boxdef/2;
    font-size: 2rem;
    font-weight: 600;

    a{
        color: $browndef;
        text-decoration: none;
        transition: color 0.5s;
    }
}

.map_type a:hover{ 
    @extend .hoverExtend
}

.mapa_catalogo{
    grid-area: map_c;
    display: grid;
    grid-template-columns: 1fr;
    margin: $boxdef;
}

.mapa_producto{
    display: flex;
    flex-direction: column;
    margin: $boxdef;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

.mapa_img img{
    max-width: 225px;
    padding: $boxdef;
    margin: $boxdef;
}

.mapa_desc{
    max-width: 225px;
    font-size: 2rem;
    text-align: center;
}

@media (max-width:768px) and (min-width:576px){

    .producto_img img{
        max-width: 350px;
    }
    
    .mapa_img img{
        max-width: 350px;
    }

}

@media (max-width: 1199px) and (min-width: 768px){
    
    .card{
        img{
            max-width: 400px;
            width: 400px;
            height: 350px;
        }
    }

    .mapa_catalogo{
        margin: 0px;
    }
    
    .encabezado{

        flex-direction: row;
        flex-wrap: nowrap;
        
    }

    .nav_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }
    .nav_encabezado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 2.3rem;
    }

    .nav_logo{
        @include sizes (80px, 80px)
    }

    .nav_item{
        padding: 0px 20px;  
    }
      
    .titulo_parallax{
        font-size: 4rem;
    }
    
    .subtitulo_parallax{
        font-size: 3rem;
    }
    
    .frase_parallax{
        font-weight: 400;
        padding: 30px 20px 20px;
    }
    
    .autor_frase_parallax{
        font-style: normal;
    }
    
    .titulo_index{
        padding: 30px 30px 0px;
        margin-top: $boxdef;
        text-align: center;
    }

    .grids_producto{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;

    }

    .producto{
        padding: 30px;

    }
    
   
    .mapa_img img{
        max-width: 300px;
        max-height: 400px;

    }
    
    .mapa_desc{
        font-size: medium;
    }

    .nosotros_texto{
        font-size: 2rem;
        margin: 1% 15%;
    }

    footer{
        flex-direction: row;
        
    }
        
    .footer_info{
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0px 15px;
        margin-right: 40px;
    }
    
    .footer_contacto{
        padding: 0px 30px;
        width: 30%;
        text-align: center;
    }
    
    .footer_contacto p{
        font-size: small;
    }

    .footer_email input{
        height: 25px;
        width: 200px;
        text-align: center;
    }

    .mapa_grid{
        grid-template-areas: 
        "map_t map_t map_t"
        "mapa_nav map_c map_c"
        "mapa_nav map_c map_c";
        grid-template-columns: auto 40% 40%;
        grid-template-rows: 100px 1fr 1fr;
        align-items: start;
    }

    .mapa_nav {
        margin: $boxdef;
        padding: 10%;
    }

    .grid_consulta{
        grid-template-areas: 
        "form ubic"
        "form ubic"
        ;
        grid-template-columns: 35% 55%;

    }

    .mapa_catalogo{
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1200px){
    
    .encabezado{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .nav_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }
    
    .nav_encabezado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav_logo{
        @include sizes (80px, 80px)
    }

    .nav_item{
        padding: 0px 20px;  
    }

    .titulo_parallax{
        font-size: 4rem;
    }
    
    .subtitulo_parallax{
        font-size: 3rem;
    }
    
    .frase_parallax{
        font-weight: 400;
        padding: 30px 20px 20px;
    }
    
    .autor_frase_parallax{
        font-style: normal;
    }
    
    .titulo_index{
        padding: 30px 30px 0px;
        margin-top: $boxdef;
        text-align: center;
    }

    .card{
        img{
            max-width: 400px;
            width: 400px;
            height: 400px;
        }
    }

    .grids_producto{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;

    }

    .producto{
        padding: $boxdef*3;

    }
    
    .producto_img img{
        max-width: 400px;
        max-height: 500px;

    }
    
    .producto_desc{
        font-size: medium;
    }

    .nosotros_texto{
        font-size: 2rem;
        margin: 1% 15%;
    }

    footer{
        flex-direction: row;
        
    }
        
    .footer_info{
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0px 15px;
        margin-right: $boxdef*4;
    }
    
    .footer_contacto{
        padding: 0px 30px;
        width: 30%;
        text-align: center;
    }
    
    .footer_contacto p{
        font-size: small;
    }

    .footer_email input{
        height: 25px;
        width: 200px;
        text-align: center;
    }

    .mapa_grid{
        display: grid;
        grid-template-areas: 
        "map_t map_t map_t map_t"
        "mapa_nav map_c map_c map_c"
        "mapa_nav map_c map_c map_c";
        grid-template-columns: 20% 25% 25% 25%;
        grid-template-rows: 100px 1fr 1fr;
        align-items: start;
        justify-content: center;
        justify-items: center;
    }

    .mapa_catalogo{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px;
    }

    .mapa_nav {
        padding: 20%;
    }

    .grid_consulta{
        grid-template-areas: 
        "form ubic"
        "form ubic"
        ;
        grid-template-columns: 35% 55%;
    }
}

.envolturaTest{
    display: grid;
    grid-template-areas:
    "navTest"
    "parallaxTienda"
    "catalogoTest"
    "footer" ;
}

.nav_test{
    grid-area: navTest;
}

.catalogo_grid{
    grid-area: catalogoTest;
}

.titulo_test{
    margin: 10px;
}