@import "fuentes";
@import "generales";
@import "nosotrosAnidamiento";
@import "variables";

.encabezado{
    grid-area: header;
    background: rgb(42,74,143);
    background: linear-gradient(90deg, #2a4a8f 70%, rgba(30,57,116,1) 85%, rgba(19,42,93,1) 100%);
    padding: $boxdef;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.nav_logo{
    height: 40px;
    width: 40px;
}

.nav_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.nav_encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
}


.nav_item{
    padding: 0px 10px;
    margin: 0px 5px;

}

.nav-link{
    color: $browndef;
    font-weight: 600;
    transition: color 0.5s;
}

.nav-link:hover{ 
    color: $brownhover;
}

.navbar-toggler{
    background-color: $browndef;
    border-color: #755e36;
}

header ul a{
    color: #ccb690;
    font-weight: 600;
    transition: color 0.5s;
}

header ul a:hover{ 
    color: #C49440;
}

a{
    text-decoration: none;
}

.mainparallax, .parallax_tienda{
    grid-area: parallax;
    background:linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.747)), url(https://i.imgur.com/QmpmCG3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
    color: #142938;

}

.parallax{
    color: #E8E1D0;

}

.titulo_parallax{
    font-size: 3rem;
    padding-top: 20px;
}

.titulo_parallax2{
    font-size: 3rem;
    padding-bottom:10px; 
}
.subtitulo_parallax{
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 10px;
}

.frase_parallax{
    font-size: 1.8rem;
    font-style: italic;
    text-align: right;
    
    padding: 30px 20px 20px;
}

.titulo_index{
    grid-area: titulo;
    padding: $boxdef;
    margin-top: 20px;
    text-align: center;
}

.titulo_index h3{
    font-size: 2rem;
}

.grids_producto{
    grid-area: catalogo;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    justify-items: center;
    padding: 5px;

}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin: $boxdef;
}

.producto_img img{
    max-width: 300px;
    padding: $boxdef;
}

.producto_desc{
    padding: 10px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card{
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin: $boxdef;
    padding: $boxdef;
}

.card-body{
    padding: 10px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-title{
    font-size: 1.8rem;
}

.card-text{
    font-size: 1.8rem;
}

.producto_desc p{
    font-size: 1.8rem;
}

.nosotros{
    grid-area: nosotros;
    background:linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.514)), url(https://i.imgur.com/VTTDvs1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    margin: $boxdef;
}

.nosotros_texto{
    background-color: rgba(255,255,255, 0.7);
    background-position: center;
    text-align: left;
    padding: 20px;
    margin: $boxdef;
    border-radius: 40px;
    border-top-style: outset;
    border-left-style: outset;
    border-color:   #755e36;
    font-size: 1rem;
}



footer{
    grid-area: footer;
    background: rgb(42,74,143);
    background: linear-gradient(90deg, rgba(42,74,143,1) 70%, rgba(30,57,116,1) 85%, rgba(19,42,93,1) 100%);
    color: #ccb690;
    font-weight: 300;
    padding: $boxdef;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: medium;
    
}

.logo_footer{
    max-height: 40px;
    position: relative;
    margin: $boxdef;
}

.footer_info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.botones_footer, .footer_redes, .footer_newsletter{
    padding: 10px 30px;
    text-align: center;
}

.botones_footer, .footer_newsletter h4{
    font-size: 1.7rem;
}

.botones_footer p{
    font-size: 1.5rem;
}

.footer_redes{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer_redes img{
    width: 40px;
    height: 40px;
    transition: all 1s;
    margin: $boxdef;
    
}

.footer_redes:hover img{
    width: 50px;
    height: 50px;     
}

.footer_newsletter{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_email{
    text-align: center;
}

.footer_email input{
    height: 25px;
    width: 200px;
    text-align: center;
}

form{
    padding: $boxdef;
    margin: $boxdef;
    text-align: center;
}

.formulario_nombre{
    margin: 10px;
}

.formulario_nombre input{
    height: 30px;
    width: 200px;
}

.formulario_email{
    margin: $boxdef;
}

.formulario_email input{
    height: 30px;
    width: 200px;
}

.formulario_motivo{
    margin: $boxdef;
}

.formulario_motivo select{
    height: 30px;
    width: 200px;
}

.formulario_consulta{
    margin: $boxdef;
}

.formulario_noticias{
    margin: $boxdef;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.formulario_noticias input{
    margin-left: 20px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: $boxdef;
}

.boton_enviar{
    margin: 0% 15px
}

.boton_enviar input{
    height: 50px;
    width: 100px;
}

.boton_reset{
    margin: 0% 15px
}

.boton_reset input{
    height: 50px;
    width: 100px;
}

.ubicacion{
    padding: 30px;
    margin: $boxdef;
    text-align: center;
    grid-area: ubic;
}

.ubicacion_titulo{
    padding: $boxdef;
    font-size: larger;
}


.formulario{
    grid-area: form;

}

.formulario_flex{
    display: flex;
    flex-direction: column;
}

.grid_consulta{
    grid-area: consulta;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "form"
    "ubic"
    ;
    grid-template-columns: 90%;
    align-items: center;
    justify-content: center;
}

.ubicacion_mapa{
    width: 100%;
}

.envoltura{
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "parallax"
    "titulo"
    "catalogo"
    "nosotros"
    "footer" ;
}

.navbar{
    grid-area: nav;
}

.envoltura_tienda{
    display: grid;
    grid-template-areas:
    "header"
    "parallaxTienda"
    "catalogoMapa"
    "footer" ;
}

.envoltura_contacto{
    display: grid;
    grid-template-areas:
    "header"
    "parallaxTienda"
    "consulta"
    "footer" ;
}

.parallax_tienda {
    grid-area: parallaxTienda;
    background:linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.747)), url(https://i.imgur.com/QmpmCG3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
    color: #142938;
    
    padding: 30px;
}

.mapa_grid{
    grid-area: catalogoMapa;
    display: grid;
    grid-template-areas:
        "map_t"
        "mapa_nav "
        "map_c";
    grid-template-columns: 100%;
    justify-items: center;
}

.mapa_titulo{
    grid-area: map_t;
    margin: 10px 0px 10px;
    padding: $boxdef;
    text-align: center;
    font-size: 2rem;
}

.mapa_nav{
    grid-area: mapa_nav;
    padding: 10px 30%;
    font-size: 1.7rem;
    background-color: $azuldef;
    border-radius: 25px;
}

.mapa_nav ul{
    text-align: center;
}

.map_type a{
    color: $browndef;
    text-decoration: none;
    transition: color 0.5s;
}

.map_type a:hover{ 
    color: $brownhover;
}

.map_type{
    padding: 5px;
    margin: 5px;
}

.mapa_catalogo{
    grid-area: map_c;
    margin: $boxdef;
    display: grid;
    grid-template-columns: 1fr;
}

.mapa_producto{
    display: flex;
    flex-direction: column;
    margin: $boxdef;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

.mapa_img img{
    max-width: 300px;
    padding: $boxdef;
    margin: $boxdef;
    transition: all 1s;
}

.mapa_img:hover img{
    max-width: 320px;
}

.mapa_desc{
    max-width: 300px;
    font-size: medium;
    text-align: center;
}

@media (min-width:576px) and (max-width:768px){

    .producto_img img{
        max-width: 400px;
    }
    
    .mapa_img img{
        max-width: 400px;
    }

    .mapa_img:hover img{
        max-width: 410px;
    }
}

@media (min-width: 768px) and (max-width: 1199px){
    .encabezado{

        flex-direction: row;
        flex-wrap: nowrap;
        
    }

    .nav_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }
    .nav_encabezado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 2.3rem;
    }

    .nav_logo{
        height: 80px;
        width: 80px;
    }

    .nav_item{
        padding: 0px 20px;  
    }
      
    .titulo_parallax{
        font-size: 4rem;
    }
    
    .subtitulo_parallax{
        font-size: 3rem;
    }
    
    .frase_parallax{
        font-weight: 400;
        padding: 30px 20px 20px;
    }
    
    .autor_frase_parallax{
        font-style: normal;
    }
    
    .titulo_index{
        padding: 30px 30px 0px;
        margin-top: 10px;
        text-align: center;
    }

    .grids_producto{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;

    }

    .producto{
        padding: 30px;

    }
    
    .producto_img img{
        max-width: 300px;
        max-height: 400px;

    }
    
    .producto_desc{
        font-size: medium;
    }

    .nosotros_texto{
        font-size: 2rem;
        margin: 10px 50% 10px 10px;
    }

    footer{
        flex-direction: row;
        
    }
        
    .footer_info{
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0px 15px;
        margin-right: 40px;
    }
    
    .botones_footer{
        padding: 0px 30px;
        width: 30%;
        text-align: center;
    }
    
    .botones_footer p{
        font-size: small;
    }

    .footer_email input{
        height: 25px;
        width: 200px;
        text-align: center;
    }

    .mapa_grid{
        grid-template-areas: 
        "map_t map_t map_t"
        "mapa_nav map_c map_c"
        "mapa_nav map_c map_c";
        grid-template-columns: auto 40% 40%;
        grid-template-rows: 50px 1fr 1fr;
        align-items: start;
    }

    .mapa_nav {
        margin: 10px;
        padding: 10px;
    }

    .grid_consulta{
        grid-template-areas: 
        "form ubic"
        "form ubic"
        ;
        grid-template-columns: 35% 55%;

    }

    .mapa_catalogo{
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1200px){
    
    .encabezado{

        flex-direction: row;
        flex-wrap: nowrap;
        
    }

    .nav_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }
    .nav_encabezado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav_logo{
        height: 80px;
        width: 80px;
    }

    .nav_item{
        padding: 0px 20px;  
    }

    .titulo_parallax{
        font-size: 4rem;
    }
    
    .subtitulo_parallax{
        font-size: 3rem;
    }
    
    .frase_parallax{
        font-weight: 400;
        padding: 30px 20px 20px;
    }
    
    .autor_frase_parallax{
        font-style: normal;
    }
    
    .titulo_index{
        padding: 30px 30px 0px;
        margin-top: 10px;
        text-align: center;
    }

    .grids_producto{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;

    }

    .producto{
        padding: 30px;

    }
    
    .producto_img img{
        max-width: 400px;
        max-height: 500px;

    }
    
    .producto_desc{
        font-size: medium;
    }

    .nosotros_texto{
        font-size: 2rem;
        margin: 10px 50% 10px 10px;
    }

    footer{
        flex-direction: row;
        
    }
        
    .footer_info{
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0px 15px;
        margin-right: 40px;
    }
    
    .botones_footer{
        padding: 0px 30px;
        width: 30%;
        text-align: center;
    }
    
    .botones_footer p{
        font-size: small;
    }

    .footer_email input{
        height: 25px;
        width: 200px;
        text-align: center;
    }

    .mapa_grid{
        display: grid;
        grid-template-areas: 
        "map_t map_t map_t map_t"
        "mapa_nav map_c map_c map_c"
        "mapa_nav map_c map_c map_c";
        grid-template-columns: auto 27% 27% 27%;
        grid-template-rows: 50px 1fr 1fr;
        align-items: start;
        justify-content: center;
        justify-items: center;
    }

    .mapa_catalogo{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mapa_nav {
        margin: 20px;
    }

    .grid_consulta{
        grid-template-areas: 
        "form ubic"
        "form ubic"
        ;
        grid-template-columns: 35% 55%;

    }

}