@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  background-color: #E8E1D0;
  font-size: 2rem;
  overflow-x: hidden;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

.nosotros_titulo {
  padding: 10px;
  text-align: center;
}
.nosotros_titulo h2 {
  font-size: 2rem;
}

.nosotros_p {
  padding: 10px;
}
.nosotros_p p {
  font-size: 1.7rem;
}

.hoverExtend, .map_type a:hover, header ul a:hover, .nav-link:hover {
  color: #C49440;
}

.encabezado {
  grid-area: header;
  background: rgb(42, 74, 143);
  background: linear-gradient(90deg, #2a4a8f 70%, rgb(30, 57, 116) 85%, rgb(19, 42, 93) 100%);
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav_logo {
  height: 60px;
  width: 60px;
}

.nav_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav_encabezado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.nav_item {
  padding: 0px 10px;
  margin: 0px 5px;
}

.nav-link {
  color: #ccb690;
  font-weight: 600;
  font-size: 2.4rem;
  transition: color 0.5s;
}

.nav-search {
  display: flex;
}
.nav-search .btn {
  background-color: #ccb690;
  border-color: #755e36;
  font-size: 1.5rem;
  font-weight: 500;
}
.nav-search .form-control {
  font-size: 1.5rem;
}

.navbar-brand-mobile {
  align-items: center;
  justify-content: center;
}

.link-blue {
  color: #2a4a8f;
}

.navbar-toggler {
  margin: 10px;
  align-items: center;
  border: none;
  transition: all 1s;
}

.navbar-toggler:hover {
  transform: rotate(90deg);
  display: inline-block;
}

header ul a {
  color: #ccb690;
  font-weight: 600;
  transition: color 0.5s;
}

a {
  text-decoration: none;
}

.mainparallax, .parallax_tienda {
  grid-area: parallax;
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.747)), url(https://i.imgur.com/QmpmCG3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #142938;
}

.mainparallax {
  height: 500px;
}

.parallax {
  color: #E8E1D0;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.parallax_tienda_titulo {
  color: #E8E1D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parallax_tienda_titulo h1 {
  font-size: 4rem;
}

.parallax_titulo {
  font-size: 4rem;
  padding-top: 40px;
}

.parallax_titulo2 {
  font-size: 4rem;
  padding-bottom: 40px;
}

.parallax_subtitulo {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 10px;
  font-style: italic;
}

.parallax_frase {
  font-size: 1.8rem;
  text-align: right;
  padding: 30px 20px 20px;
}

.parallax_frase_autor {
  font-size: 1.8rem;
  font-style: italic;
  text-align: right;
}

.titulo_index {
  grid-area: titulo;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: #3a2d11;
}
.titulo_index h2 {
  font-size: 3rem;
  font-weight: 600;
}

.grids_producto {
  grid-area: catalogo;
  display: grid;
  grid-template-columns: 350px;
  justify-content: center;
  justify-items: center;
  padding: 5px;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
}

.producto_img img {
  max-width: 300px;
  padding: 10px;
}

.producto_desc {
  padding: 10px 0px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}
.card img {
  max-width: 300px;
  padding: 10px;
}

.card-body {
  padding: 10px 0px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.bi-cart-plus {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.9rem;
  font-weight: bold;
}

.producto_desc p {
  font-size: 1.8rem;
}

.card_p {
  color: #3a2d11;
  font-weight: 600;
  font-size: 2.4rem;
  transition: color 0.5s;
  text-align: center;
}

.card_p:hover {
  color: #C49440;
}

.nosotros {
  grid-area: nosotros;
  background: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.514)), url(https://i.imgur.com/VTTDvs1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  margin: 10px;
}

.nosotros_texto {
  background-color: rgba(255, 255, 255, 0.7);
  background-position: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 40px;
  border-top-style: outset;
  border-left-style: outset;
  border-color: #755e36;
}

.nosotros_titulo h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.nosotros_p p {
  font-size: 2rem;
  font-weight: 500;
}

footer {
  grid-area: footer;
  background: rgb(42, 74, 143);
  background: linear-gradient(90deg, rgb(42, 74, 143) 70%, rgb(30, 57, 116) 85%, rgb(19, 42, 93) 100%);
  color: #ccb690;
  font-weight: 300;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.logo_footer {
  max-height: 40px;
  position: relative;
  margin: 10px;
}

.footer_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer_contacto, .footer_redes, .footer_newsletter {
  padding: 10px 30px;
  text-align: center;
}

.footer_contacto h4, .footer_newsletter h4 {
  font-size: 2rem;
  font-weight: 500;
}

.footer_contacto p {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer_redes {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer_redes img {
  width: 40px;
  height: 40px;
  transition: all 1s;
  margin: 10px;
}

.footer_redes:hover img {
  width: 50px;
  height: 50px;
}

.footer_newsletter {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_email {
  text-align: center;
}

.footer_email input {
  height: 25px;
  width: 200px;
  text-align: center;
}

form {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.formulario_nombre {
  margin: 10px;
}

.formulario_nombre input {
  height: 30px;
  width: 300px;
}

.formulario_email {
  margin: 10px;
}

.formulario_email input {
  height: 30px;
  width: 300px;
}

.formulario_motivo {
  margin: 10px;
}

.formulario_motivo select {
  height: 30px;
  width: 300px;
}

.formulario_consulta {
  margin: 10px;
}

.formulario_noticias {
  margin: 10px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formulario_noticias input {
  margin-left: 20px;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.boton_enviar {
  margin: 0% 15px;
}
.boton_enviar input {
  height: 50px;
  width: 100px;
}

.boton_reset {
  margin: 0% 15px;
}
.boton_reset input {
  height: 50px;
  width: 100px;
}

.ubicacion {
  padding: 30px;
  margin: 10px;
  text-align: center;
  grid-area: ubic;
}

.ubicacion_titulo {
  padding: 10px;
  font-size: larger;
}

.formulario {
  grid-area: form;
}

.formulario_flex {
  display: flex;
  flex-direction: column;
}

.grid_consulta {
  grid-area: consulta;
  width: 100%;
  display: grid;
  grid-template-areas: "form" "ubic";
  grid-template-columns: 90%;
  align-items: center;
  justify-content: center;
}

.ubicacion_mapa {
  width: 100%;
}

.envoltura {
  display: grid;
  grid-template-areas: "header" "nav" "parallax" "titulo" "catalogo" "nosotros" "footer";
}

.navbar {
  grid-area: nav;
}

.envoltura_tienda {
  display: grid;
  grid-template-areas: "header" "parallaxTienda" "catalogoMapa" "footer";
}

.envoltura_contacto {
  display: grid;
  grid-template-areas: "header" "parallaxTienda" "consulta" "footer";
}

.parallax_tienda {
  grid-area: parallaxTienda;
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.747)), url(https://i.imgur.com/QmpmCG3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #142938;
  padding: 30px;
}

.mapa_grid {
  grid-area: catalogoMapa;
  display: grid;
  grid-template-areas: "map_t" "mapa_nav " "map_c";
  grid-template-columns: 100%;
  justify-items: center;
  margin-bottom: 40px;
}

.mapa_titulo {
  grid-area: map_t;
  margin: 20px 10px 0px;
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #3a2d11;
}

.mapa_nav {
  grid-area: mapa_nav;
  padding: 10px 20%;
  font-size: 1.7rem;
  background-color: #2a4a8f;
  border-radius: 25px;
  margin: 10px 10px;
}

.mapa_nav ul {
  text-align: center;
}

.map_type {
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
  font-weight: 600;
}
.map_type a {
  color: #ccb690;
  text-decoration: none;
  transition: color 0.5s;
}

.mapa_catalogo {
  grid-area: map_c;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
}

.mapa_producto {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
}

.mapa_img img {
  max-width: 225px;
  padding: 10px;
  margin: 10px;
}

.mapa_desc {
  max-width: 225px;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) and (min-width: 576px) {
  .producto_img img {
    max-width: 350px;
  }
  .mapa_img img {
    max-width: 350px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .card img {
    max-width: 400px;
    width: 400px;
    height: 350px;
  }
  .mapa_catalogo {
    margin: 0px;
  }
  .encabezado {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .nav_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .nav_encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.3rem;
  }
  .nav_logo {
    height: 80px;
    width: 80px;
  }
  .nav_item {
    padding: 0px 20px;
  }
  .titulo_parallax {
    font-size: 4rem;
  }
  .subtitulo_parallax {
    font-size: 3rem;
  }
  .frase_parallax {
    font-weight: 400;
    padding: 30px 20px 20px;
  }
  .autor_frase_parallax {
    font-style: normal;
  }
  .titulo_index {
    padding: 30px 30px 0px;
    margin-top: 10px;
    text-align: center;
  }
  .grids_producto {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .producto {
    padding: 30px;
  }
  .mapa_img img {
    max-width: 300px;
    max-height: 400px;
  }
  .mapa_desc {
    font-size: medium;
  }
  .nosotros_texto {
    font-size: 2rem;
    margin: 1% 15%;
  }
  footer {
    flex-direction: row;
  }
  .footer_info {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 15px;
    margin-right: 40px;
  }
  .footer_contacto {
    padding: 0px 30px;
    width: 30%;
    text-align: center;
  }
  .footer_contacto p {
    font-size: small;
  }
  .footer_email input {
    height: 25px;
    width: 200px;
    text-align: center;
  }
  .mapa_grid {
    grid-template-areas: "map_t map_t map_t" "mapa_nav map_c map_c" "mapa_nav map_c map_c";
    grid-template-columns: auto 40% 40%;
    grid-template-rows: 100px 1fr 1fr;
    align-items: start;
  }
  .mapa_nav {
    margin: 10px;
    padding: 10%;
  }
  .grid_consulta {
    grid-template-areas: "form ubic" "form ubic";
    grid-template-columns: 35% 55%;
  }
  .mapa_catalogo {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .encabezado {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .nav_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .nav_encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nav_logo {
    height: 80px;
    width: 80px;
  }
  .nav_item {
    padding: 0px 20px;
  }
  .titulo_parallax {
    font-size: 4rem;
  }
  .subtitulo_parallax {
    font-size: 3rem;
  }
  .frase_parallax {
    font-weight: 400;
    padding: 30px 20px 20px;
  }
  .autor_frase_parallax {
    font-style: normal;
  }
  .titulo_index {
    padding: 30px 30px 0px;
    margin-top: 10px;
    text-align: center;
  }
  .card img {
    max-width: 400px;
    width: 400px;
    height: 400px;
  }
  .grids_producto {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  .producto {
    padding: 30px;
  }
  .producto_img img {
    max-width: 400px;
    max-height: 500px;
  }
  .producto_desc {
    font-size: medium;
  }
  .nosotros_texto {
    font-size: 2rem;
    margin: 1% 15%;
  }
  footer {
    flex-direction: row;
  }
  .footer_info {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 15px;
    margin-right: 40px;
  }
  .footer_contacto {
    padding: 0px 30px;
    width: 30%;
    text-align: center;
  }
  .footer_contacto p {
    font-size: small;
  }
  .footer_email input {
    height: 25px;
    width: 200px;
    text-align: center;
  }
  .mapa_grid {
    display: grid;
    grid-template-areas: "map_t map_t map_t map_t" "mapa_nav map_c map_c map_c" "mapa_nav map_c map_c map_c";
    grid-template-columns: 20% 25% 25% 25%;
    grid-template-rows: 100px 1fr 1fr;
    align-items: start;
    justify-content: center;
    justify-items: center;
  }
  .mapa_catalogo {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
  }
  .mapa_nav {
    padding: 20%;
  }
  .grid_consulta {
    grid-template-areas: "form ubic" "form ubic";
    grid-template-columns: 35% 55%;
  }
}
.envolturaTest {
  display: grid;
  grid-template-areas: "navTest" "parallaxTienda" "catalogoTest" "footer";
}

.nav_test {
  grid-area: navTest;
}

.catalogo_grid {
  grid-area: catalogoTest;
}

.titulo_test {
  margin: 10px;
}/*# sourceMappingURL=styles.css.map */